body {
  margin: 0px;
}

.botonMenu {
  position: absolute;
  background-color: brown;
  height: 50px;
  width: 350px;
  right: 5%;
  background-image: url("../../assets/images/ButtonIllustracion.png");
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 5px;
}

.btnCrearSala {
  top: 15%;
}

.btnPerfil {
  top: 22%;
}

.btnConfiguracion {
  top: 29%;
}

.btnSalir {
  top: 36%;
}

.lbl_boton {
  width: 50%;
}

.btnNotHover-Active {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.btnHover-Active {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.btnBorder-Focus {
  border: blue 5px solid;
}

.btnBorder-NotFocus {
  border: blue 0px solid;
}

.div-logo {
  position: absolute;
  background-image: url(../../assets/images/menuInicio.jpg);
  width: 500px;
  height: 150px;
  z-index: 1;
  background-size: cover;
  top: 5%;
  left: 5%;
  border-radius: 5px;
}